/* VARIABLES */
:root {
    /* COLORS */
    --primary-color: #e8eceb;
    --secondary-color: #8cbdb9;
    --neutral-color: #2d3e4e;
    --accent-color: #e09e50;

    /* FONT SIZE */
    --font-size-xs: 1rem;
    --font-size-s: 1.4rem;
    --font-size-m: 1.7rem;
    --font-size-l: 2.6rem;
    --font-size-xl: 4.2rem;
    --font-size-title: 6rem;

    /* LINE HEIGHT */
    --line-height-s: 1.25;
    --line-height-m: 1.5;
    --line-height-l: 1.75;

    /* MARGIN */
    --margin-xs: 8px;
    --margin-s: 1rem;
    --margin-m: 1.8rem;
    --margin-l: 3rem;
    --margin-xl: 4.5rem;

    /* PADDING */
    --padding-xs: 8px;
    --padding-s: 1rem;
    --padding-m: 1.8rem;
    --padding-l: 2rem;
    --padding-xl: 3rem;
}

::selection {
    color: var(--neutral-color);
    background-color: var(--primary-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    overflow-wrap: break-word;
}

h1 {
    font-size: var(--font-size-title);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-l);
}

p {
    font-size: var(--font-size-m);
}

hr {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: var(--accent-color);
    border: none;
}

label {
    font-size: var(--font-size-m);
    color: var(--primary-color);
}

input,
textarea,
select {
    padding: var(--padding-s);
    color: var(--neutral-color);
    font-size: var(--font-size-l);
    font-family: inherit;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    box-shadow: -2px -2px 6px 1px rgb(100, 100, 100),
        3px 3px 4px 4px rgba(0, 0, 0, 0.6);
}
input:active,
input:focus,
input:focus-visible {
    outline: 2px solid var(--accent-color);
}

input::placeholder,
textarea::placeholder {
    text-align: center;
    color: var(--neutral-color);
    font-size: var(--font-size-l);
}
